.container {
    width: 1000px;
    height: 710px;
    margin: 0px auto;
    text-align: center;
    border-color: black;
    border: 1px solid;
    padding: 10px;
    font-family: monospace;
}

.text-area {
    position: relative;
    padding: 10px;
    height: 150px;
}